.left-side-form {
    width: calc(40% - 1em);
    height: 100%;

    padding: 1em;
    float: left;
}

.left-side-form + section {
    width: calc(60% - 3em);
    height: 100%;

    padding: 1em;
    float: right;
}

.left-side-form + section header {
    width: 100%;
}

.left-side-form span {
    padding: 5em 1em;
    float: left;

    color: #fff;
}

.left-side-form + section header img.logo {
    width: 40%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-side-form + section p {
    width: 100%;

    margin-top: 1.2em;

    font-weight: 300;
    font-size: .9em;
    color: #3a3a3a;
}

.form {
    position: relative;
}

.form h1 {
    width: 100%;

    font-size: 1.2em;
    font-weight: normal;
    color: #fff;
    text-align: center;
}

.form fieldset {
    width: 100%;

    margin: 0;
    padding: 0 0 1em 0;

    border: 0 none;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: calc(100% - 2.3em);
    height: 3em;

    padding: 0 1em;
}

.form input:first-child {
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #fff;
}

.form input:last-child {
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border: 1px solid #e0e0e0;
}

.form input:not(:first-child):not(:last-child) {
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #fff;
}

.form [type="submit"] {
    width: 100%;
    height: 3em;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #1d5b91;

    color: #fff;
    background-color: #134772;

    cursor: pointer;
}

.loader {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    text-align: center;

    background-color: #134772;

    opacity: 0.8;
    filter: alpha(opacity=80);
}

.loader img {
    width: 6em;

    margin-top: calc(50% - 3em);
}