html, body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    font-family: Arial, sans-serif;
    font-size: 1em;
}

#container {
    width: 100%;
    height: 100%;

    float: left;
    position: relative;
}

.container {
    width: calc(100% - 10px);
}

.background-stripes {
    background-image: linear-gradient(135deg, #358dbb 25%, #3889b5 25%, #3889b5 50%, #358dbb 50%, #358dbb 75%, #3889b5 75%, #3889b5 100%);
    background-size: 84.85px 84.85px;
}

.background-blue {
    background-color: #358dbb;
}

.layer {
    position: absolute;
    top: 50%; left: 50%;

    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 0 79px -1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0 0 79px -1px rgba(0, 0, 0, 0.33);
    box-shadow: 0 0 79px -1px rgba(0, 0, 0, 0.33);

    background-color: #fff;
}

.square-20 {
    width: 30%;
    height: 30%;
}